<!doctype html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>Edit game</title>
		<link rel="stylesheet" href="edit.css" />
		<script src="../js/angular-1.7.4.min.js"></script>
		<script src="/src/js/common.js"></script>
		<script src="edit.js"></script>
	</head>
	<body ng-app="app" ng-controller="editCtrl">
		<div>
			<span>Name</span>
			<input type="text" ng-model="game.name" />
			
			<span>Executable file</span>
			<input type="text" ng-model="game.executable" />

			<span>CD ISO file</span>
			<input type="text" ng-model="game.cdISOFile" />
		</div>
		<button ng-click="saveAndClose()">Save</button>
	</body>
</html>
