html {
	height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body > div {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
}
