html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

h1 {
  margin: 0;
}

img {
  width: 100%;
}

main {
  text-align: right;
}

.featuring {
  font-size: 0.9em;
}

.heart {
  color: red;
}