<!doctype html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>DogBox</title>
		<link rel="stylesheet" href="main.css" />
		<script src="../js/angular-1.7.4.min.js"></script>
		<script src="/src/js/common.js"></script>
		<script src="main.js"></script>
		<script src="../service/settingsService.js"></script>
	</head>
	<body ng-app="app" ng-controller="mainCtrl">
		<header>Games list</header>
		<main>
			<select multiple="multiple" ng-init="init()" ng-model="selected">
				<option ng-repeat="game in games track by game.id" ng-value="game" ng-bind="game.name" ng-disabled="isReloading || isSaving"></option>
			</select>
		</main>
		<nav>
			<button ng-click="launch()" ng-disabled="!oneSelected()">Launch</button>
			<button ng-click="openCreate()">New...</button>
			<button ng-click="openEdit()" ng-disabled="!oneSelected()">Edit...</button>
			<button ng-click="remove()" ng-disabled="!someSelected()">Remove</button>
			<button ng-click="refresh()" ng-disabled="isReloading || isSaving">Reload</button>
			<button ng-click="openSettings()">Settings...</button>
			<button ng-click="openHowto()" >How to...</button>
			<button ng-click="openAbout()">About...</button>
		</nav>
		<footer ng-bind="status.text" ng-class="status.level"></footer>
	</body>
</html>
