html {
	height: 100%;
	display: flex;
	flex-direction: column;
}

body, nav {
	grid-gap: 10px;
}

body {
	flex: 1;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr;
	margin: 10px;
}

header, footer {
	grid-column: span 2;
}

select {
	width: 100%;
	height: 100%;
	overflow: auto;
	outline: none;
}

option {
	padding: 5px;
}

nav {
	height: auto;
	display: grid;
	grid-template-columns: 1fr;
}

footer {
	border: 1px solid #aaa;
	padding: 5px;
	font-size: 11pt;
}

.success {
	color: green;
}

.warn {
	color: orange;
}

.error {
	color: red;
}
