<!doctype html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>Settings</title>
		<link rel="stylesheet" href="settings.css" />
		<script src="../js/angular-1.7.4.min.js"></script>
		<script src="/src/js/common.js"></script>
		<script src="settings.js"></script>
	</head>
	<body ng-app="app" ng-controller="settingsCtrl">
		<div>
			<span ng-repeat-start="setting in settings track by setting.key" ng-bind="::setting.label"></span>
			<input ng-repeat-end type="text" ng-model="setting.value" />
		</div>
		<button ng-click="saveAndClose()">Save</button>
	</body>
</html>
